Django==1.9.4
Twisted==16.0.0
argparse==1.2.1
asgi-redis==0.8.3
asgiref==0.9.1
autobahn==0.13.0
channels==0.9.5
daphne==0.9.3
django-baker==0.11
haikunator==1.0.1
msgpack-python==0.4.7
psycopg2==2.6.1
redis==2.10.5
six==1.10.0
txaio==2.2.2
wsgiref==0.1.2
zope.interface==4.1.3
